.dart_tool/
build/
.pub/
.packages
.idea/

android/.gradle/
android/app/build/

ios/Pods/
ios/Flutter/build/
.flutter-plugins
.flutter-plugins-dependencies
*.log
.idea/
lib/generated/
lib/flutter_gen/
